@import 'bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins');

@import './sass/_variables.sass';

body {
  font-family: 'Poppins', sans-serif;
  line-height: 150%;
  color: $textColor;
  background: $backgroundColor;
}

.App {
  padding-bottom: $appBottomPadding;
  padding-top: $appTopPadding;
}

.appDashboard {
  margin-top: -$appBottomPadding - $appTopPadding;

}