@import 'bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Handlee');

body {
  font-family: 'Handlee', cursive;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #6D7578;
  background: #F9F6ED;
  margin-bottom: 47px;
}