@import 'bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Handlee');

@import './sass/_variables.sass';

body {
  font-family: 'Handlee', cursive;
  font-size: 18px;
  line-height: 150%;
  color: $textColor;
  background: $backgroundColor;
}

.App {
  padding-bottom: $appBottomPadding;
}

.appDashboard {
  margin-top: -$appBottomPadding;
}