.Home .logoWrapper {
  max-width: 400px; }

.Home .homePicture {
  max-width: 1000px; }

.Home .aboutBox {
  position: relative;
  top: -137.5px;
  max-width: 750px;
  height: 275px;
  background-image: url("/res/images/background/sprinkle.png"); }

.Home .aboutBox .aboutBlurb {
  line-height: initial; }
