@import "../../sass/variables.sass"
  
.Home

  .logoWrapper
    max-width: 400px

  .homePicture
    max-width: 1000px

  .aboutBox
    position: relative
    top: -137.5px
    max-width: 750px
    height: 275px
    background-image: url("/res/images/background/sprinkle.png")

    .aboutBlurb
      line-height: initial