.Dashboard .editorWrapper {
  width: 80%;
  margin: 0 auto; }

.Dashboard .editor {
  background-color: white;
  height: 600px; }

.Dashboard .preview {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 400px;
  margin-top: 20px; }
