@import "../sass/variables"
  
.SiteHeader

  .nav-item
    a
      text-decoration: none
      margin: 0px 16px 0px 16px
      padding: 8px 0px 8px 0px !important
      color: $textColor
      border-bottom: 2px solid $headerUnderlineColor
      &.active
        border-bottom: 2px solid $thumbnailBannerBackgroundColor

