@import "../sass/variables"
  
.SiteHeader
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  background-image: url("/res/images/background/polaroid.png")

  .navbar-collapse
    z-index: 10
    
    
  .pintrestIcon
    font-size: 24px
    color: $labelText

  .nav-item
    .nav-link
      font-weight: bold
      text-decoration: none
      margin: 0px 16px 0px 16px
      color: $labelText
      opacity: 1

