.SiteHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-image: url("/res/images/background/polaroid.png"); }

.SiteHeader .navbar-collapse {
  z-index: 10; }

.SiteHeader .pintrestIcon {
  font-size: 24px;
  color: #000000; }

.SiteHeader .nav-item .nav-link {
  font-weight: bold;
  text-decoration: none;
  margin: 0px 16px 0px 16px;
  color: #000000;
  opacity: 1; }
