.SiteHeader .nav-item a {
  text-decoration: none;
  margin: 0px 16px 0px 16px;
  padding: 8px 0px 8px 0px !important;
  color: #6D7578;
  border-bottom: 2px solid #EBBDA5; }
  .SiteHeader .nav-item a.active {
    border-bottom: 2px solid #C18264; }
