.SiteFooter
  position: fixed
  bottom: 0
  right: 0
  left: 0
  color: #F9F6ED
  background-color: #8A9E9C

  .subscribe
    display: flex
    align-items: center


  .subscribe p 
    margin: 10px 0px


  #subscribeForm 
    display: flex
    align-items: center
    margin-left: auto

    input
      font-family: inherit
      height: 30px

    button
      height: 24px

  #subscribeForm button 
    font-family: inherit
    height: 30px
    border: none
    cursor: pointer
